body {
    text-align: center;
    background-color: #F7F7F7;
}

header {
    margin: 2em;
}

h1 a {
    color: #0E689B;
}

label {
    margin: auto;
    border: 1px solid #1d3234;
    border-radius: .25em;
    padding: 1.5em;
    cursor: pointer;
    margin: .75em;
}

label:hover {
    background-color: rgba(234, 255, 0, 0.591);
}

img {
    max-width: 55%;
}

.btn {
    display: block;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 2em;
    padding: .75em;
    background-color: #0E689B;
    ;
}

ul {
    list-style-type: none;
}